{% block footer%}
    <footer>
        <div class="container">
            <p>
                &copy; 2021 - Andrew Burnashov
            </p>
        </div>
    </footer>

    <script type="text/javascript" src="{{ asset('js/jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.js')}}"></script>

{% endblock %}